Flask==3.1.2
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.2
bcrypt==4.3.0
PyJWT==2.10.1
python-dotenv==1.1.0
Flask-Mail==0.10.0
cryptography==45.0.5
oss2==2.19.1
openai==2.46.0
celery[redis]==5.6.3
redis==6.4.0
